.logo{
  width: 145px;
  height: 25px;
  background-image: url(https://pictures.s3.yandex.net/logo_black.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  }
  .logo {
    border: solid red 1px;
  }
  .header{
    height: 10px;
  }